#This is an example config file for MongoDB
{# Path to mongo including drive letter. Example I:\Servers\mongodb    #}
dbpath = {{ mongo_path }}\data
{# mongo port #}
port = {{ mongo_port }}
logpath = {{ mongo_path }}\logs\mongo.log
