#        Sample Configuration File for Privoxy v3.0.19
#
#  Id: config,v
#
#  Copyright (C) 2001-2011 Privoxy Developers http://www.privoxy.org/
#
####################################################################

#max-client-connections 256
max-client-connections {{ max_clients }}
#handle-as-empty-doc-returns-ok 1
#enable-compression 1
#compression-level 1
logfile		   privoxy.log
jarfile		   privoxyjar.log

#user-manual		http://www.privoxy.org/user-manual/
#trust-info-url		http://www.example.com/why_we_block.html
#trust-info-url		http://www.example.com/what_we_allow.html
#proxy-info-url		http://www.example.com/proxy-service.html

{# Admin email address #}
admin-address		{{ admin_address }}

# If you want to use CLF (Common Log Format), you should set
# "debug 512" ONLY and not enable anything else.

#debug 1      # show each GET/POST/CONNECT request 
#debug 2      # show each connection status 
#debug 4      # show I/O status 
#debug 8      # show header parsing 
#debug 16     # log all data into the logfile 
#debug 32     # debug force feature 
#debug 64     # debug regular expression filter
#debug 128    # debug fast redirects 
#debug 256    # debug GIF de-animation 
#debug 512    # Common Log Format
#debug 1024   # debug kill pop-ups 
#debug 2048   # CGI user interface 
#debug 4096   # Startup banner and warnings.
#debug 8192   # Non-fatal errors
#debug 8192    # Errors (recommended)
{# Debug level (numeric output of power of 2). Examples 2,512,8192 #}
debug {{ debug_level }}

{# Listen address. Examples 0 or 127.0.0.1 #}
listen-address	       {{ listen_address }}:{{ port }}

permit-access	       localhost/32
permit-access	       net/8

#deny-access	       192.168.cc.dd  www.ahem.example.com

#      If set to 0, Privoxy will start in "toggled off" mode,
#      i.e. behave like a normal, content-neutral proxy where all ad
#      blocking, filtering, etc are disabled.

toggle 		 	    1

enable-remote-toggle	    0
enable-edit-actions	    0

buffer-limit			4096

# windows only configuration options below

#activity-animation   1
#log-messages   1
#log-buffer-size 1
#log-max-lines 200
#log-highlight-messages 1
#log-font-name Comic Sans MS
#log-font-size 8
#show-on-task-bar 0
#close-button-minimizes 1
#hide-console
